body{
    width: 320px;
    overflow: hidden;
    background-color: #b9e3e0;
    background-color: #000;
}

canvas {
    width: 320px;
}

#c_text{
    height: 100px;
}

#c_lines{
    width: 640px;
    height: 200px;
}

#c_lines2{
    background-color: #222;
}

